body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 1em 0;
    text-align: center;
}

nav {
    background-color: #4CAF50;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 4px;
}

nav ul li a:hover {
    background-color: white;
    color: #4CAF50;
}

section {
    padding: 20px;
    margin: 10px 0;
}

h2 {
    border-bottom: 2px solid #4CAF50;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 8px;
    text-align: left;
}

footer {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* CSS Selectors, Transitions, and Animations */

button {
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #4CAF50;
    color: white;
}

@keyframes example {
    from {background-color: red;}
    to {background-color: yellow;}
}

#contactForm {
    animation: example 5s infinite;
}

/* Form Styles */

form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

form input, form textarea {
    width: 65%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}
li{
    color: blueviolet;
}
img {
    width: 50%;
    height: 50%;
    border: 4px double #000;
    border-radius: 20%;
    display: block; /* Ensures the image is treated as a block element */
    margin: 20px auto;
}